@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 98.3% 98.44%;
    --foreground: 205 6.6000000000000005% 0.88%;

    --muted: 205 6.6000000000000005% 92.2%;
    --muted-foreground: 205 3.3000000000000003% 42.2%;

    --popover: 205 45.12% 92.2%;
    --popover-foreground: 205 6.6000000000000005% 1.1%;

    --card: 205 45.12% 92.2%;
    --card-foreground: 205 6.6000000000000005% 1.1%;

    --border: 205 11.600000000000001% 89.88%;
    --input: 205 11.600000000000001% 89.88%;

    --primary: 205 66% 22%;
    --primary-foreground: 205 1.32% 92.2%;

    --secondary: 205 36.96% 85.18%;
    --secondary-foreground: 205 4.96% 12.2%;

    --accent: 205 36.96% 85.18%;
    --accent-foreground: 205 4.96% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 205 66% 22%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 193 63.699999999999996% 2.8%;
    --foreground: 193 9.8% 96.75%;

    --muted: 193 67.62% 14%;
    --muted-foreground: 193 9.8% 53.5%;

    --popover: 193 59.12% 8.049999999999999%;
    --popover-foreground: 193 9.8% 96.75%;

    --card: 193 59.12% 8.049999999999999%;
    --card-foreground: 193 9.8% 96.75%;

    --border: 193 67.62% 14%;
    --input: 193 67.62% 14%;

    --primary: 193 98% 35%;
    --primary-foreground: 193 9.8% 96.75%;

    --secondary: 193 67.62% 14%;
    --secondary-foreground: 193 9.8% 96.75%;

    --accent: 193 67.62% 14%;
    --accent-foreground: 193 9.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 193 9.8% 96.75%;

    --ring: 193 98% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply size-full overflow-x-hidden;
  }
  body {
    @apply grid size-full grid-cols-[1fr] grid-rows-[auto_1fr_auto] bg-background text-foreground;
  }
  .gradient-left {
    @apply relative before:absolute before:inset-0 before:-z-10 before:h-full before:w-1/2 before:bg-gradient-to-r before:from-primary/20 before:to-transparent;
  }
  .gradient-right {
    @apply before:from-primary/02 relative before:absolute before:right-0 before:top-0 before:-z-10 before:h-full before:w-1/2 before:bg-gradient-to-l before:to-transparent;
  }
  .gradient-bottom {
    @apply relative before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-1/2 before:w-full before:bg-gradient-to-t before:from-primary/20 before:to-transparent;
  }
  .gradient-diagonal {
    @apply relative before:absolute before:inset-0 before:-z-10 before:h-full before:w-full before:bg-gradient-to-tr before:from-primary/20 before:to-transparent;
  }
}
